<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">
        <button id="addQue">Add Question</button>

        <span class="whenFocused" id="whenFocused">
            <button id="addText">Add Text</button>
            <button id="addCheckBox">Add CheckBox</button>
        </span>
    </div>

    <div class="margin" id="area">

    </div>
    
    <!-- <div class="questionBox" id="que1" tabindex="1">
        <span style="font-size: 2rem;">Que 
            <span id="qN" >1</span>
        </span>

    </div>

    <div class="questionBox" id="que2" tabindex="2">
        <span style="font-size: 2rem;">Que 
            <span id="qN" >1</span>
        </span>


    </div> 

    [
        {
            "q": 1,
            "textarea": [
                            "ques text",
                            "follow up text"
                        ],
            "checkbox": [
                            "option 1",
                            "option 2",
                            "option 3",
                            "option 4",
                        ],
            "radio": [
                        "option 1",
                        "option 2"
                     ],
            "display": "t0 c1 c2 c3 c4 t1 r0 r1",
        }
    ]


-->

    <script src="create.js"></script>
</body>
</html>